

.logo-navbar{
    height: 70px;
    width: 100px;
}
.ul-custom{
    list-style: none;
}
li>a{
    color: rgb(80, 74, 74);
    text-decoration: none;
}

.image-sfondo{
    background-image: url("/media/Montagna\ rossa.jpg");
    background-size: cover;
    height: 200px;
}

.img-custom{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    width: 100%;
    margin: 0px;

}

@media screen and (max-width : 900px){
    .img-custom{
        height: 30px;
        width: 30px;
        background-color: blue;
    }
    .red-mountain{
        height: 200px;
        width: 390px;
        background-color: darkgreen;
    }
}

h1{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 30px;
}